<div *ngIf="itemList.length; else noItems">
    <ul>
        <li *ngFor="let item of itemList">
            <span (click)="editItem(item)">{{ item.title }}</span> - 
            <span class="deleteIcon" (click)="removeItem(item.id)">x</span>
        </li>
    </ul>
</div>
<ng-template #noItems>
    No items
</ng-template>

<form [formGroup]="itemForm" (ngSubmit)="processChange(itemForm.value)">
    <input formControlName="itemTitle" type="text" />
    <input type="submit" value="Add Item" />
</form>
